.logo{
       position: absolute;
       top: 5%;
       left: 2%;
       display: flex;
       gap: 0.5rem;
}
.logo>img{
       width: 2rem;
       
}
.logo>span{
       color:rgb(255, 255, 255);
       font-family: 'Inter', sans-serif;
       letter-spacing: 1px;
       /* border: 2px solid red; */
       padding-top: 5px;
       font-size: 1.4rem;
}
.zz{
       color:rgb(0, 255, 255);
}